
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


/* Navbar */
.navbarwrapper{
  background: linear-gradient(-30deg,#00004d,#5333ed 49%,#2cd4d9);
    font-size: 1.3rem;
    text-transform: capitalize;
}

.navbar-nav{
  flex-direction: row !important;
  position: absolute;
    left: 115px;
}

.nav-item a{
  color:white !important;
  text-decoration: none;
}

.logo{
  width: 50px;
  border-radius: 50%;
  border: none;
}


/* Home -> Banner */
.slide-container {
  width: 100%;
  height: 100%;
  margin: auto; }
 
.slide-container  h3 {
  text-align: center; }
 
.each-slide > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 500px;
}
 
.each-slide span {
  padding: 20px;
  font-size: 20px;
  background: #efefef;
  text-align: center;
}
 
.each-fade {
  display: flex;
}
 
.each-fade .image-container {
  width: 75%;
  overflow: hidden;
}
 
.each-fade .image-container img {
  width: 100%;
}
 
.each-fade h2 {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background: #adceed;
}



/* Product */
.card{
  border-color: transparent;
  transition: all 1s linear;
}

.card-footer{
  background: transparent;
  border-top: transparent;
  transition: all 1s linear;
}

.card:hover{
  border: 0.04rem solid rgba(0,0,0,0.2) ;
  box-shadow: 2px 2px 5px 0px rgba(0,0,0.02) ;
}

.card-footer:hover{
  background: rgba(247,247,247);
}

.img-container{
  position: relative;
  overflow: hidden;
}

.card-img-top{
  transition: all 1s linear;
}

.img-height{
  height: 300px;
}

.img-container:hover .card-img-top{
  transform: scale(1.2);
}

.cart-btn{
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 0.2rem 0.4rem;
  background: blue;
  color: white;
  font-size: 1.4rem;
  border: none;
  border-radius: 0.5rem 0 0 0;
  transform: translate(100%,100%);
  transition: all 1s linear;
}

.img-container:hover .cart-btn{
  transform: translate(0,0);
}


.cart-btn:hover{
  color: #5333ed;
  cursor: pointer;
}


/* ProductDetails */
.product-detial img{
  display: block;
  margin: auto;
  height: 100%;
}


/* cart */
.btn-black{
  background:capitalize;
  text-transform:capitalize;
  font-size: 0.8rem !important;
  color: #232528;
  border-radius: 0 !important;
  border: 0.1rem solid !important;
}

.btn-black:hover{
  background:#232528  !important;
  color: #f3f3f3 !important;
}

.cart-icon{
  cursor:pointer;
  font-size: 1.2rem;
  color: yellow;
}